#circularImageGroup {
  /* --marker: var(--font-color); */
  --hand-dynamic: var(--message-bg);
  --accent: rgb(255, 63, 20);

  --v: rgb(20, 118, 255);
  font-family: "Hubballi", sans-serif;
}

/* .minute-markers {
  fill: transparent;
  stroke: var(--marker);
  stroke-width: 10;
  stroke-dasharray: 0.1 0.9;
  stroke-dashoffset: 0.05;
}
.hour-markers {
  fill: transparent;
  stroke: var(--marker);
  stroke-width: 20;
  stroke-dasharray: 0.4 4.6;
  stroke-dashoffset: 0.2;
} */

.hand {
  stroke: var(--dark-color);
  stroke-width: 2;
  stroke-linecap: round;
}
.hand-thick {
  stroke-width: 7;
}
.hand-sec {
  stroke-linecap: round;
  stroke: var(--accent);
  stroke-width: 1.5;
}
.center {
  fill: black;
  stroke: var(--accent);
  stroke-width: 1.5;
}
.center-bottom {
  fill: black;
}
.clock-text {
  fill: var(--dark-color);
  text-anchor: middle;
  cursor: pointer;
  user-select: none;
  font-weight: normal;
  stroke: var(--dark-color);
  stroke-width: 1;
  font-size: 20px;
  opacity: 0.85;
}

#hourHandStroke.hidden,
#minHandStroke.hidden {
  display: none;
}
#hourHandStroke .hand,
#minHandStroke .hand {
  stroke: var(--dark-color);
  stroke-width: 6;
}
#hourHandStroke .hand-thick,
#minHandStroke .hand-thick {
  stroke-width: 11;
}

#shadowGroupHour, #shadowGroupMinute {
  filter: drop-shadow(0.5px 1px 1px hsl(0deg 0% 0% / 0.4));
}

#hourHandInner .hand,
#minHandInner .hand {
  stroke: var(--hand-dynamic);
  stroke-width: 4;
}