#timerImageGroup {
  font-family: "ClockFont", sans-serif;
  position: fixed;
  inset: 0;
  --dynamic-mask: 50%;
}
#numericBackGroup, #numericFrontGroup {
  position: absolute;
  inset: 0;
}
#numericBackGroup {
  background-color: var(--body-bg);
}
#numericFrontGroup {
  background-color: var(--message-bg);
  mask-image: linear-gradient(
		to bottom,
		transparent 0,
		transparent var(--dynamic-mask),
		black var(--dynamic-mask),
		black 100%
	);
	-webkit-mask-image: linear-gradient(
		to bottom,
		transparent 0,
		transparent var(--dynamic-mask),
		black var(--dynamic-mask),
		black 100%
	);
}

.numeric-block-first,
.numeric-block-second {
  position: absolute;
  max-height: 50vh;
  max-height: 50dvh;
  width: 100vw;
  top: 50vh;
  top: 50dvh;
  left: 50%;
  transform: translate(-50%, -50%);
}
.numeric-block-first {
  transform: translate(-50%, -100%);
}
.numeric-block-second {
  transform: translate(-50%, 0%);
}


.timerTextBack {
  fill: var(--dark-color);
  font-size: 28px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.timerTextFront {
  fill: var(--font-color);
  font-size: 28px;
  dominant-baseline: middle;
  text-anchor: middle;
}

@media (min-width: 640px) {
  .numeric-block-first,
  .numeric-block-second {
    position: absolute;
    max-height: 100vh;
    max-height: 100dvh;
    height: 100vh;
    height: 100dvh;
    width: auto;
    max-width: 50vw;
    
    top: 50vh;
    top: 50dvh;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .numeric-block-first {
    transform: translate(-100%, -50%);
  }
  .numeric-block-second {
    transform: translate(0%, -50%);
  }
}