html {
  --dark-color: #0d0c22;
  --dark-color-hover: #6e6d7a;
  --light-color: #737373;
  --light-color-hover: #424242;

  --dark-bg: #0d0c22;
  --dark-bg-hover: #3d3d4e;
  --light-bg: #f3f3f6;
  --light-bg-hover: #f3f3f6;

  --light-border-color: #e7e7e9;
  --light-border-color-hover: hsl(240, 4%, 83%);

  --white: #fff;
  --accent-color: #2e86de;
  --accent-color-dark: #1e6fc2;
  --error-color: crimson;
}

/*//////////  Header Buttons  //////////*/

#logo,
#options,
#roomToggle {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 2rem;
  font-family: sans-serif;
  z-index: 99;
}
#options {
  left: auto;
  right: 0;
  display: flex;
  gap: 0.25rem;
}
#app:has(.gallery-card.active) #roomToggle,
#app:has(.gallery-card.active) #options {
  mix-blend-mode: difference;
}
#logo a,
#closeBtn,
#editBtn,
#fullscreenBtn,
#timerBtn,
#galleryBtn,
#messageBtn {
  position: relative;
  color: var(--dark-color);
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}
#editBtn {
  top: -1px;
}
#app #logo a:hover,
#app #closeBtn:hover,
#app #editBtn:hover,
#app #fullscreenBtn:hover,
#app #timerBtn:hover:not(.active),
#app #galleryBtn:hover:not(.active),
#app #messageBtn:hover:not(.active) {
  opacity: 1;
}
#logo a {
  color: darkorange;
}
#logo a:hover {
  color: orange;
}
#logo a svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*//////////  toggle Container for Buttons  //////////*/

.toggle-container {
  display: flex;
  box-shadow: 0 0 0 2px hsl(243deg 48% 9% / 0.4);
  border-radius: 0.25rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
#app .toggle-container div:not(.active) {
  opacity: 0.15;
}

/*//////  modified for gallery  //////*/

/* always white color */
#app:has(.gallery-card.active) #roomToggle .toggle-container>*,
#app:has(.gallery-card.active) #options>* {
  color: #fff;
  opacity: 1;
}
#app:has(.gallery-card.active) .toggle-container {
  box-shadow: 0 0 0 2px white;
}
#app:has(.gallery-card.active) #roomToggle .toggle-container div:not(.active) {
  opacity: 0.4;
}
#app:has(.gallery-card.active) #roomToggle .toggle-container div:not(.active):hover {
  opacity: 1;
}

/*//////////  Main Dark Buttons  //////////*/

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  line-height: 1;
  border: none;
  border-radius: 0.75rem;
  background-color: var(--dark-bg);
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.btn:not(.disabled):hover {
  background-color: var(--dark-bg-hover);
}
.btn.disabled {
  cursor: default;
  opacity: 0.5;
}

/*//////////  Light Buttons  //////////*/

.light-btn {
  padding: 0.5rem;
  color: var(--light-color);
  border: 1px solid var(--light-border-color);
  border-radius: 1rem;
  font-size: 1rem;
  line-height: 1;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
.light-btn:hover {
  border: 1px solid var(--light-border-color-hover);
}

/*//////////  toggle Buttons  //////////*/

.toggle-btn .hidden {
  display: none;
}

/*//////////  Forms  //////////*/

#editForm,
#loginForm,
#registerForm,
.message-form-container,
.gallery-form-container,
.timer-form-container {
  display: grid;
  gap: 1rem;
}

.form-group, #slidesGroup {
  display: grid;
  gap: 0.4rem;
}

.edit-card label,
.login-card label {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
}

input::placeholder {
  opacity: 0.4;
}

.edit-card input,
.login-card input {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1;
  box-sizing: border-box;
  height: 2.5rem;

  position: relative;
  outline: none;
  border: 1px solid var(--light-border-color);
  border-radius: 0.5rem;
  color: var(--dark-color);
}
input:not([type="checkbox"], [type="radio"]) {
  width: 100%;
}
.edit-card input:focus,
.login-card input:focus {
  border: 1px solid var(--light-border-color-hover);
}

.edit-card .btn,
.login-card .btn {
  grid-column: 1 / -1; /* always the whole row */
  /* justify-self: end; */ /* left, center, right or 100% */
  margin-top: 1rem;
}

/*//////////  Messages  //////////*/

.message {
  display: none;
}

.message.active-error {
  display: block;
  color: white;
  background-color: crimson;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  position: fixed;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  top: 1rem;
  width: max-content;
  font-size: 1rem;
  z-index: 999;
  animation: in 0.25s ease forwards, out 0.25s 30s ease forwards;;
  transform: translate(-50%, -20%);
}
@keyframes in {
  from {
    transform: translate(-50%, -160%);
  }
  to {
    transform: translate(-50%, 0);
  }
}
@keyframes out {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, -160%);
  }
}

.message.active-success {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 1.5rem;

  background-color: var(--white);
  color: limegreen;
}

.message.active-success a {
  color: var(--white);
  background-color: limegreen;
  margin-left: 0.25rem;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  text-decoration: none;
}
.message.active-success a:hover {
  background-color: hsl(120, 70%, 45%);
}